<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordKiller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordKiller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WordKiller.Properties.Settings>
            <setting name="FirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastName" serializeAs="String">
                <value />
            </setting>
            <setting name="MiddleName" serializeAs="String">
                <value />
            </setting>
            <setting name="Shifr" serializeAs="String">
                <value />
            </setting>
            <setting name="Universitet" serializeAs="String">
                <value />
            </setting>
            <setting name="Faculty" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Course" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Group" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FirstNameCoop" serializeAs="String">
                <value />
            </setting>
            <setting name="LastNameCoop" serializeAs="String">
                <value />
            </setting>
            <setting name="MiddleNameCoop" serializeAs="String">
                <value />
            </setting>
            <setting name="ShifrCoop" serializeAs="String">
                <value />
            </setting>
            <setting name="CloseWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyntaxChecking" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumberEncoding" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FacultyString" serializeAs="String">
                <value />
            </setting>
            <setting name="CourseString" serializeAs="String">
                <value />
            </setting>
            <setting name="GroupString" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportPDF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportHTML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoHeader" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoHeaderVisibility" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainColor" serializeAs="String">
                <value>8daacc</value>
            </setting>
            <setting name="AdditionalColor" serializeAs="String">
                <value>4a76a8</value>
            </setting>
            <setting name="AlternativeColor" serializeAs="String">
                <value>335e8f</value>
            </setting>
            <setting name="HoverColor" serializeAs="String">
                <value>b8860b</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
        </WordKiller.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WordKiller.Properties.Settings>
            <setting name="Extension" serializeAs="String">
                <value>.wkr</value>
            </setting>
        </WordKiller.Properties.Settings>
    </applicationSettings>
</configuration>